button {
  border-radius: 8px;
  padding: 8px 24px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active:enabled {
  transform: scale(0.9);
}

button:hover:enabled {
  opacity: 0.9;
}
